.container{
    margin: 11px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
    /* justify-content: space-between */
}

.title{
    font-size: 2rem;
    font-weight: 400;
}