.footerContainer {
  padding: 31px 126px 0 126px;
  border-top: 1px solid #00000033;
  border-bottom: 1px solid #00000033;
  margin-bottom: 12px;
}

.top {
  padding: 0 26px 32px 26px;
  border-bottom: 1px solid #00000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerElement {
  display: flex;
  flex-direction: row;
  width: 320px;
  gap: 10px;
}

.elementText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTitle {
  font-size: 26px;
  font-weight: 500;
}

.footerText {
  font-size: 16px;
  font-weight: 300;
}

.bottom {
  padding-top: 20px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
}

.boldText {
  font-weight: 600;
  font-size: 24px;
}

.normalText {
  font-weight: 400;
  font-size: 18px;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: flex-end;
}

.images {
  display: flex;
  gap: 32px;
}

.phone {
  font-size: 15px;
  font-weight: 400;
}

.copyRight {
  padding-bottom: 12px;
  font-size: 15px;
  text-align: center;
}
