.sliderContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.slides {
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.slide.active {
  width: 370px;
  height: 480px;
  opacity: 1;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 120px;
}

.slide:nth-child(2) {
  width: 386px;
  height: 416px;
  position: absolute;
  top: 0;
  left: 120px;
  z-index: 3;
  transform: translate(-48px, 32px);
}

.slide:nth-child(3) {
  width: 256px;
  height: 333px;
  position: absolute;
  top: 0;
  left: 120px;
  z-index: 2;
  transform: translate(-88px, 73px);
}

.slide:nth-child(4) {
  width: 216px;
  height: 273px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 120px;
  transform: translate(-120px, 103px);
}

.slideNumber {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img{
  width: 240px;
  height: 320px;
  background-size: contain;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}
/* 
.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */

@media (max-width: 786px) {
  .sliderContainer {
    width: 334px;
    height: 284px;
    transform: translateX(-58px);
  }
  .slide.active {
    width: 255px;
    height: 284px;
  }

  .slide:nth-child(2) {
    width: 253px;
    height: 247px;
    transform: translate(-14px, 24px);
  }

  .slide:nth-child(3) {
    width: 168px;
    height: 198px;
    transform: translate(-28px, 42px);
  }

  .slide:nth-child(4) {
    width: 142px;
    height: 162px;
    transform: translate(-40px, 54px);
  }
  .prevButton {
    left: 130px;
  }
  .nextButton {
    right: -30px;
  }
}
