/* .footerContainer {
  padding: 31px 126px 0 126px;
  border-top: 1px solid #00000033;
  border-bottom: 1px solid #00000033;
  margin-bottom: 12px;
} */

.top {
  padding: 30px 126px;
  border-top: 1px solid #00000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerElement {
  display: flex;
  flex-direction: row;
  width: 320px;
  gap: 10px;
}

.elementText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTitle {
  font-size: 26px;
  font-weight: 500;
}

.footerText {
  font-size: 16px;
  font-weight: 300;
}
