.top {
  padding: 30px 126px;
  border-top: 1px solid #00000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerElement {
  display: flex;
  flex-direction: row;
  width: 320px;
  gap: 10px;
}

.elementText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerTitle {
  font-size: 26px;
  font-weight: 500;
}

.footerText {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 786px) {
  .top {
    flex-direction: column;
    margin-top: 30px;
  }

  .footerElement {
    width: 312px;
  }
  .footerTitle {
    font-size: 14px;
  }

  .footerText {
    font-size: 12px;
  }

  .img {
    width: 71px;
    height: 64px;
  }
}
