.container{
  padding: 0 129px;
  background-color: var(--white-color);
  margin-top: 0;
}

.image {
  width: 100%;
}

.torino {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin: 17px auto 28px auto;
}

.torino span {
  color: var(--green-color);
}

@media(max-width:786px){

}
